
header{
height:150px;
width: 100%;
display: flex;
align-items: center;
justify-content:space-evenly;
}



.pic{
background-image: url('chap1-pic.jpeg');
height:200px;
width: 300px;
margin-top: 30px;
background-position: center;
background-size:contain;
border-radius: 30px;
box-shadow:8px 8px 1px;

}

body{
margin: 0px;
padding: 0px;
background-image: url('paperbg.jpeg');
width:100%;
height:500px;
background-size: cover;
flex-wrap: wrap;
}

.sloke{
margin-left:50px;
cursor: pointer;
text-decoration: dotted;
text-shadow:1px -1px 2px rgba(231, 12, 12, 0.268);
user-select: none;
box-sizing: border-box;
border-radius: 10px;
width: 610px;
color:black;
}            
.mean{
font-size:1rem;
font-weight: 800;
text-shadow: 2px 2px 2px rgba(0, 0, 255, 0.159);
background-color: rgba(181, 193, 211, 0.17);
width: 468px;
box-shadow: 2px 5px 2px #555;
margin-left: 640px;
border-radius: 10px;
cursor: pointer;

}
footer{
display: flex;
justify-content: space-evenly;
}
.end{
justify-content: center;
align-items: center;
display: flex;
font-size: 1.3rem;
font-weight: 1000;
text-decoration: underline;
}
footer a{
text-align: right;
text-decoration: none;
color: black;
text-shadow: 2px 2px 5px;
font-size: 1.2rem;
}